<p id="notice"><%= notice %></p>







<br>
<h1>Bienvenue sur TheGossipper !</h1><br>

<h3>Le site où tu peux baver tranquille !!! </h3><br>

<%= link_to 'Créer un gossip', new_gossip_path, class:"btn btn-success" %>
<br><br>

<div class="row">

  <% @gossips.each do |gossip| %>
    <div class="card border-secondary mb-3 col-3" style="max-width: 20rem;">

      <div class="card-header">
       <%= link_to 'Détails', gossip_path(gossip.id), class:"btn btn-link" %>
       </div>
      <div class="card-body">
        <h4 class="card-title"><%= gossip.author %></h4>
        <p class="card-text">"<%= gossip.content %>"</p>
      </div>
      <div class="col-lg-4">
        </div>
        <div class="col-lg-3">
          <p> 
            <%= gossip.comments.count %> 
            <%= image_tag("comment-png-17.png", :alt => "commentaires", :style => "width: 30px;") %>
          </p>
        </div>
        <div class="col-lg-3">
          <p> 
            <%= gossip.likes.count %> 
            <% if @current_user == nil%>
              <%= image_tag("Facebook-Like-grey.png", :alt => "likes", :style => "width: 30px;") %>
            <% elsif gossip.likes.where(user_id: @current_user)%>
              <a href="/gossips/<%= gossip.id %>/like/destroy">
                <%= image_tag("Facebook-Like.png", :alt => "likes", :style => "width: 30px;") %>
              </a>
            <% else%>
              <a href="/gossips/<%= gossip.id %>/like/create">
                <%= image_tag("Facebook-Like-grey.png", :alt => "likes", :style => "width: 30px;") %>
              </a> 
            <% end %>
          </p>
        </div>
    </div>
    <% end %>
</div>