<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title"> Gossip numéro : <%= @gossip.id%>  </h5>
    <h6 class="card-subtitle mb-2 text-muted"> <strong>Auteur</strong> : <%=@gossip.author%> </h6>
    <p class="card-text" > <strong>Contenu</strong> : <%= @gossip.content %> </p>
  </div>
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-3">
      <p> 
        <%= @gossip.comments.count %> 
        <%= image_tag("comment-png-17.png", :alt => "commentaires", :style => "width: 30px;") %>
      </p>
    </div>
    <div class="col-lg-3">
      <p> 
        <%= @gossip.likes.count %> 
        <% if @current_user == nil%>
          <%= image_tag("Facebook-Like-grey.png", :alt => "likes", :style => "width: 30px;") %>
        <% elsif @gossip.likes.where(user_id: @current_user.id).first%>
          <a href="/gossips/<%= @gossip.id %>/like/destroy">
            <%= image_tag("Facebook-Like.png", :alt => "likes", :style => "width: 30px;") %>
          </a>
        <% else%>
          <a href="/gossips/<%= @gossip.id %>/like/create">
            <%= image_tag("Facebook-Like-grey.png", :alt => "likes", :style => "width: 30px;") %>
          </a> 
        <% end %>

      </p>
    </div>
  </div>
</div>

<br>
<%= link_to 'Editer', edit_gossip_path(@gossip.id), class:"btn btn-outline-primary"%>
<%if @current_user == @gossip.user%>
  <%= link_to 'Détruire', @gossip, class:"btn btn-danger", data: {confirm: "êtes-vous sûr ?"}, method: :delete %>
<%end%>
<%= link_to "Retour à l'index", gossips_path, class:"btn btn-secondary"%>
<%= link_to "ajouter un commentaire", new_gossip_comment_path(@gossip.id), class:"btn btn-success"%>
<br>

<% @comments.each do |comment| %>
  <hr>
  <p>"<%=comment.content%>"</p>
  <p>
    <em>commenté par <%=comment.user.first_name%> (<%=comment.user.email%>)</em>

    <div class="row">
      <div class="col-lg-2">
        <%if @current_user == comment.user %>
          <%= link_to "éditer", edit_gossip_comment_path(@gossip.id, comment.id), class:"btn btn-link"%>
          <%= link_to 'Détruire', gossip_comment_path(@gossip.id, comment.id), class:"btn btn-danger", data: {confirm: "êtes-vous sûr ?"}, method: :delete %>
        <%end%>
      </div>
      <%if @current_user%>
        <% com_com = Comment.new %>
        <div class="col-lg-10">
          
          <%= form_for com_com, :url => comment_comments_path(comment.id) do |f|%>
            <div class="form-row">
              <div class="col">
                <%= f.text_field :content, class: "form-control", placeholder: "répondez au commentaire" %>
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary">Commenter</button>
              </div>
            </div>
          <%end%>
          
        </div>
      <%end%>
    </div>
  </p>

  <% comment.comments.each do |com_com| %>
    <hr>
    <div style="margin-left: 80px">
      <p>"<%=com_com.content%>"</p>
      <p>
        <em>commenté par <%=com_com.user.first_name%> (<%=com_com.user.email%>)</em>
      </p>
    </div>
  <%end%>
  

<%end%>

